h1 {
    color: rgba(160, 102, 102, 0.848);
}

p {
    color: #80471C ¡imoportant;
}

nav ul{
    padding: 0;
    text-align: center;
    background-color: blanchedalmond;
}
nav a {
    color: #b38867;
    text-decoration: none;
}

nav ul li a:hover {
    color: #879281 ;
}

nav ul li{
    display: inline-block;
    background-color: #ecdfed;
    padding: 8px;
    height: 20px;
}

footer{
    
    color: rgba(160, 102, 102, 0.848);
    text-align: center;
}

.importante {
    color: #80471C;
}

#pie {
    background-color: blanchedalmond;
}

.beneficios {
    background-color: #decaaf;
    color: #6E522C;
    border-color:  #80471C;
    
}

.tipos {
    background-color: #D3B792;
    color: #523C20;
    border-color:  #80471C;
}

.caja {
    padding: 20px;
    border: 3px solid;
    margin: 20px 8px;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    font-style: italic;

    text-align: left;
}

[type="tel"] {
    border-color: #4b5f50;
}

[disable] {
    border-color: #3f290b;
}

.clase {
    color: #3c754a;
}

#identificador {
    color: #b38867;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

