h1 {
    color: #80471C;
}

.origen {
    margin-bottom: 180px;
}

html {
    font-size: 16px;
}

p {
    color: #80471C;
    font-size: 20px;
}

nav ul {
    padding: 15px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    grid-template-rows: 50px;
    background-color: blanchedalmond;
    padding: 8rem;
}

.item {
    background-color: #b38867;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #80471C;
    padding: 1rem;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    animation: Movimiento 2s ;
}

.item img:hover {
    transform: translate(100px, 0) rotate (1turn);
    border-radius: 100px; 
}

#cabecera img {
    width: 100%;
    max-width: 200px;
    display: block;
    background-color: blanchedalmond;
    border-radius: 100px;
    animation: Movimiento 8s ease-in-out infinite;
}

#cabecera img:hover {
    transform: translate(100px, 0) rotate (1turn);
    border-radius: 100px;
}

.container {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}

.imagen {
    width: 200px;
    max-width: 100%;
}

.card {
    border: 1px solid blanchedalmond;
    padding: 0.5rem;
    width: 100%;
}

.card img {
    width: 80px;
}

.card p {
    line-height: 20px;
}

#cabecera {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    color: #80471C;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #879281;
}

footer {
    color: rgba(160, 102, 102, 0.848);
    text-align: center;
    padding: 20px;
}

.importante {
    color: #80471C;
}

#pie {
    background-color: blanchedalmond;
}

.wrap-wrap {
    flex-wrap: wrap;
}

.wrap-nowrap .caja {
    width: 300px;
}

.align-center {
    align-items: center;
    justify-content: center;
}

[type="tel"],
[type="email"],
[type="text"] {
    border-color: #4b5f50;
    text-align: center;
}

[disable] {
    border-color: #3f290b;
}

.clase {
    color: #3c754a;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: #80471C;
    font-size: 25px;
    padding: 1rem;
}

@keyframes Movimiento {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }

}

@media screen and (max-width: 768px) {
    #cabecera {
        background-color: #b38867;
    }
}

@media screen and (max-width: 500px) {
    #cabecera {
        background-color: #80471C;
    }
}